.feature-card {
    transition: all 0.4s ease;
    border: 1px solid rgba(255, 145, 148, 0.2);
    background: rgba(255, 255, 255, 0.05);
    margin: 1rem;
}

.feature-card:hover {
    transform: translateY(-10px);
    border-color: #ff7300;
    background: rgba(255, 255, 255, 0.08);
}

.feature-icon {
    transition: border-color 0.4s ease;
}

.feature-card:hover .feature-icon {
    border-color: rgba(255, 145, 150, 0.7);
    transition: all 0.8s ease;
    transform: rotate3d(0, 1, -1, 360deg);
}

.features-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
